<!doctype html>
<% (here) = self.location() %>
<% navigate = [
    (url_for('redirect_mako',where = 'presence_weekday.html'),'Presence by weekday','main'),
    (url_for('redirect_mako', where = 'mean_time_weekday.html'),'Presence mean time','mean'),
    (url_for('redirect_mako', where = 'presence_start_end.html'),'Presence start-end','startend')
] %>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>Presence analyzer</title>
    <meta name="keywords" content="" />
    <meta name="description" content=""/>
    <meta name="author" content="STX Next sp. z o.o."/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link href="/static/css/normalize.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/static/css/basiclook.css" media="all" rel="stylesheet" type="text/css" />
</head>
<%block name="scripts"/>
<body>
    <div id="main">
        <div id="header">
            <h1>Presence analyzer</h1>
            <ul>
                <%def name="switches()">
                    % for href, name, there in navigate:
                        % if there==here:
                        <li id = "selected"><a href=${href}>${name}</a></li>
                        %else:
                        <li><a href=${href}>${name}</a></li>
                        % endif
                    % endfor
                </%def>
                ${switches()}
            </ul>
        </div>
        <div id="content">
            <h2>Presence by weekday</h2>
            <p>
                <select id="user_id" style="display: none">
                    <option value="">--</option>
                </select>
                <div id="chart_div" style="display: none">
                </div>
                <div id="loading">
                    <img src="/static/img/loading.gif" />
                </div>
            </p>
        </div>
    </div>
</body>
</html>
