<!doctype html>
<% (here) = self.location() %>
<% navigate = [
    (url_for("redirect_mako",where = "presence_weekday.html"),"Presence by weekday"),
    (url_for("redirect_mako", where = "mean_time_weekday.html"),"Presence mean time"),
    (url_for("redirect_mako", where = "presence_start_end.html"),"Presence start-end"),
    (url_for("redirect_mako", where = "top_5.html"),"TOP 5")
] %>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>Presence analyzer</title>
    <meta name="keywords" content="" />
    <meta name="description" content=""/>
    <meta name="author" content="STX Next sp. z o.o."/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link href="/static/css/normalize.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/static/css/basiclook.css" media="all" rel="stylesheet" type="text/css" />
</head>
<%block name="scripts"/>
<body>
    <div id="main">
        <div id="header">
            <h1>Presence analyzer</h1>
            <ul>
                <%def name="switches()">
                    % for href, name in navigate:
                        % if name==here:
                        <li id = "selected"><a href=${href}>${name}</a></li>
                        %else:
                        <li><a href=${href}>${name}</a></li>
                        % endif
                    % endfor
                </%def>
                ${switches()}
            </ul>
        </div>
        <div id="content">
            <h2>${here}</h2>
            <p>
                <select id="user_id" style="display: none">
                    <option value="">--</option>
                </select>
                <div>
                    <img id="user_img" scr=""></img>
                </div>
                <div id="chart_div" style="display: none"></div>
                <center>
                    <div id="users" style="display: none">
                        <%def  name = "top5()">
                            % for num in range(5):
                                <a id="hours${num}" hoursall='' onmouseout='hours_popup("",${num})' onmouseover="hours_popup(hoursall, ${num})">
                                    <center>
                                        <div class="popup">
                                            <span class="popuptext" id="popup${num}"></span>
                                        </div>
                                    </center>
                                <img id="avatar_display${num}" src=></img>
                                </a>
                                <div id="user_display${num}" value = ""></div>
                            % endfor
                        </%def >
                        ${top5()}
                    </div>
                </center>
                <div id='no_data' style="display: none">
                    <p>No data.</p>
                </div>
                <div id="loading">
                    <img src="/static/img/loading.gif" />
                </div>
            </p>
        </div>
    </div>
</body>
</html>
