<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>Presence analyzer</title>
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link href="/static/css/normalize.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/static/css/basiclook.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="main">
        <div id="header">
            <h1>Not Found 404</h1>
        </div>
    </div>
</body>
</html>
