<%inherit file="base.html"/>
<%def name="location()">
    <% return ("podium") %>
</%def>
<%block name="scripts">
    <script src="/static/js/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"], 'language': 'en'});

        (function($) {
            $(document).ready(function(){
                var loading = $('#loading');
                $.getJSON('${url_for("users_view")}', function(result) {
                    var dropdown = $("#user_id");
                    $.each(result, function(item) {
                        dropdown.append($("<option />").val([this.user_id,this.avatar]).text(this.name));
                    });
                    dropdown.show();
                    loading.hide();
                });
                $('#user_id').change(function(){
                    var selected_user = $("#user_id").val(),
                    chart_div = $('#chart_div'),
                        selected_user_int = parseInt(selected_user),
                        selected_avatar = selected_user.replace(String(selected_user_int)+",","");
                        document.getElementById("user_img").src = selected_avatar;
                    if(selected_user) {
                        loading.show();
                        chart_div.hide();
                        var selected_user_int = parseInt(selected_user); 
                        $(function (result) {
                            $.getJSON("${url_for('podium', user_id=0)}"+selected_user_int, function(result) {
                                $('#container').highcharts({
                                    chart: {
                                        type: 'column'
                                    },
                                    title: {
                                        text: "Podium"
                                    },
                                    xAxis: {
                                        categories: false,
                                        lineWidth: 0,
                                        minorGridLineWidth: 0,
                                        lineColor: 'transparent',
                                        labels: {
                                           enabled: false
                                       },
                                        minorTickLength: 0,
                                        tickLength: 0
                                    },
                                    yAxis: {
                                        min: 0,
                                        gridLineWidth: 0,
                                        title: {
                                            text: false
                                        },
                                        labels: {
                                           enabled: false
                                       }
                                    },
                                     legend: {
                                           enabled: false
                                       
                                    },
                                    tooltip: {
                                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                            '<td style="padding:0"><b>{point.y} </b></td></tr>',
                                        footerFormat: '</table>',
                                        shared: true,
                                        useHTML: true,
                                        positioner: function(boxWidth, boxHeight, point) {
                                        return {
                                            x: point.plotX,
                                            y: point.plotY + 100
                                        }
                                        }
                                    },
                                    plotOptions: {
                                        column: {
                                            pointPadding: -0.3,
                                            borderWidth: 0
                                        }
                                    },

                                    series: [{
                                        name: 'RATING',
                                        data:[
                                            result[7],
                                            result[9],
                                            result[11],
                                            result[10],
                                            result[8]
                                        ],
                                        dataLabels: {
                                            enabled: true,
                                            color: 'white',
                                            align: 'center',
                                            x: 3,
                                            y: 60,
                                            useHTML: true,
                                            overflow: false,
                                            crop: false,
                                            formatter: function() {
                                                  return (this.key);  
                                            },
                                            style: {
                                                fontSize: '20px',
                                                fontFamily: 'Verdana, sans-serif',
                                                textShadow: '0 0 3px black'
                                            }
                                        }
                                    }]
                                });
                            });

                            loading.hide();

                        });
                    }
                });
            });
        })(jQuery);
    </script>
</%block>
