<%inherit file="base.html"/>
<%def name="location()">
    <% return ('Presence by weekday') %>
</%def>
<%block name="scripts">
    <script src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"], 'language': 'en'});

        (function($) {
            $(document).ready(function(){
                var loading = $('#loading'),
                    no_data = $("#no_data");
                $.getJSON('${url_for("users_view")}', function(result) {
                    var dropdown = $("#user_id");
                    $.each(result, function(item) {
                        dropdown.append($("<option />").val([this.user_id,this.avatar]).text(this.name));
                    });
                    dropdown.show();
                    loading.hide();
                });
                $('#user_id').change(function(){
                    var selected_user = $("#user_id").val(),
                    chart_div = $('#chart_div'),
                        selected_user_int = parseInt(selected_user),
                        selected_avatar = selected_user.replace(String(selected_user_int)+",","");
                        document.getElementById("user_img").src = selected_avatar;
                    if(selected_user) {
                        loading.show();
                        chart_div.hide();
                        var selected_user_int = parseInt(selected_user); 
                        $.getJSON("${url_for('presence_weekday_view', user_id=0)}"+selected_user_int, function(result) {
                            if (result == 'no data') {
                                loading.hide();
                                no_data.show();
                            }
                            var data = google.visualization.arrayToDataTable(result),
                            options = {};
                            chart_div.show();
                            loading.hide();
                            var chart = new google.visualization.PieChart(chart_div[0]);
                            chart.draw(data, options);
                        });
                    }
                });
            });
        })(jQuery);
    </script>
</%block>
